# This is a basic workflow to help you get started with Actions

name: dev workflow

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master, main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  cd:
    runs-on: ubuntu-22.04
    steps:
        - name: Cloning repo
          uses: actions/checkout@v6
          with:
            submodules: true
        
        - name: install npm
          uses: actions/setup-node@v6

        - name: Build website
          run: |
            npm install
            npm run build

        - name: Cleanup previous deployment
          uses: appleboy/ssh-action@v1
          with:
            host: juantoca.net
            username: juan
            key: ${{ secrets.SSH_PRIVATE_KEY }}
            script: |
                rm -r blog || true
                mkdir blog

        - name: Copy files via SSH
          run: |
            mkdir ~/.ssh
            echo "${{ secrets.KNOWN_HOSTS}}" >> ~/.ssh/known_hosts
            echo "${{ secrets.SSH_PRIVATE_KEY }}" > ssh_key
            chmod 0600 ssh_key
            sudo apt install -y openssh-client
            tar -cf dist.tar dist
            scp -r -i ssh_key dist.tar juan@juantoca.net:~/blog
            scp -r -i ssh_key docker-compose.yaml juan@juantoca.net:~/blog
            scp -r -i ssh_key webserver.yaml juan@juantoca.net:~/blog

        - name: Run docker compose
          uses: appleboy/ssh-action@v1
          with:
              host: juantoca.net
              username: juan
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              command_timeout: 1h
              script: |
                  cd blog
                  tar -xf dist.tar
                  podman compose up -d --force-recreate
